.select{
  display: block;
  max-width: 300px;
  width: 100%;
  background: #361d32;
  color: #fff;
  padding: 10px;
  margin: 15px auto 0;
  border: none;
  outline: none;
  border-radius: 16px;
  user-select: none;
}